{% extends "layout.html" %}
{% block content %}
    <h2 style="margin-left: 30%;">Hello, Welcome to our site!</h2>
    <p style="color: darkblue;"></br></br>Click on "Free try" to optimzie your picture!</p>
    <p>hyper network that learns to generate the filter weights of an image restoration network conditionally based on the required
        restoration level, given as an input parameter.</br>
        To ensure an efficient representation at inference time, we constrain the kernels corresponding to the different levels to be identical
        up to a scaling factor and learn only the weights basis vectors.</br>
        In order to achieve the desired accuracy and continuity over any predefined range we train our model to generate multiple restoration networks
        simultaneously, each is optimized to a different degradation level.</p>
{% endblock %} 
